# Ignore OS and Log files
error_log_local
error_log_dev
error_log
*.log
~*
ehthumbs.db
Thumbs.db
*.sql
*.sqlite
.DS_Store

# Ignore dependencies
node_modules
vendor

# Ignore files with sensitive data
wp-config.php

# Ignore user-generated content
wp-content/uploads/
uploads/*

# Ignore WP generated content
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
