/**
 *  Page > Full Width Template
 */

// Take away padding ====================================================================

.page-template-page-full-width {
  .site-content {
    padding: 0;
  }
}
