/**
 *  Default Page Template
 */

// Page Header ====================================================================

.page-header {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

// Page Links ====================================================================

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
