// Default Page Template

// Page Header ====================================================================

.page-header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}

// Page Links ====================================================================

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
